<div>
    <h1 style = "text-align: center;">
        About me 
    </h1>

    <h3 style = "width: 960px;
    height: 50px;
    text-align: center;">
        Hello I am Sreejon Chowdhury, I am a second year IT Networking student currently attending Ontario Tech University 
    </h3>

    <h1 style="text-align: center;">
        My intrests are: 
    </h1>
    <li style="color: #199; text-align: center;">
        Travelling 
    </li>
    <li style="color: #199; text-align: center;">
        Making videos
    </li>
    <li style="color: #199; text-align: center;">
        Sports 
    </li>
    <li style="color: #199; text-align: center;">
        Cooking 
    </li>
    <li style="color: #199; text-align: center;">
        Buidling Keyboards 
    </li>
</div>