<div id="cool2">
    <form action=mailto:Sreejon.chowdhury1808@gmail.com ?subject=Signup Form method="post" enctype="text/plain" name="form">
        <div class="textbox">
            <i class="fa-solid fa-route"></i>
            <label for="name">name</label>
            <input type="text" name="name" size="32">
        </div>
        
        <div class="textbox">
            <i class="fa-solid fa-route"></i>
            <label for="email">Email</label>
            <input name="email" type="email" size="40"><br>
        </div>

        <div id="comments">
            <i class="fa-solid fa-route"></i>
            <label for="comments">Comments?</label><br>
            <textarea name="comments" cols="60" rows="6"></textarea>
        </div>
        <div id="submit">
            <i class="fa-solid fa-routasdasde"></i>
            <p><input type="submit" value="Click here to submit the form"/></p>
        </div>
        
        </p>
    </form> 
</div>