<footer> 
    
    <a href="https://www.linkedin.com/in/sreejon-chowdhury-99953123b/">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>

    <br>

    <a>
        <i class="fa-regular fa-copyright"></i>
        Sreejon.chowdhury@onatariotechu.net
        
    </a>
    

</footer>