<main>
    <li class="box">
        <i class="fa-brands fa-python"></i>
        Python Calculator
    
    </li>

    <li class="box">
        <i class="fa-solid fa-route"></i>
        Case study #1
    </li>

    <li class="box">
        <i class="fa-solid fa-route"></i>
        Case study #2
    </li>

    <li class="box">
        <i class="fa-solid fa-route"></i>
        Case study #3
    </li>

</main>