<div>
    <h1 style="text-align: center;">Getting started</h1>
</div>
<div style="background-color: rgb(90, 90, 201);">
    <h1 style="text-align: center; color: aliceblue;"> Start adding work outs</h1>
    <h2 style="text-align: center; color: aliceblue;">step 1</h2>
    <p style="text-align: center; color: aliceblue;"> go to the workout tab</p>
    <h1 style="text-align: center; color: aliceblue;"> step 2</h1>
    <P style="text-align: center; color: aliceblue;">Click add button</P>
</div>

<div style="background-color: rgb(55, 55, 134);">
    <h1 style="text-align: center; color: aliceblue;"> Start editing work outs</h1>
    <h2 style="text-align: center; color: aliceblue;">step 1</h2>
    <p style="text-align: center;  color: aliceblue;"> go to the work out tab</p>
    <h1 style="text-align: center; color: aliceblue;"> step 2</h1>
    <P style="text-align: center; color: aliceblue;">Click edit button</P>
</div>

<div style="background-color: rgb(21, 21, 47);">
    <h1 style="text-align: center; color: aliceblue;"> Start Deleting work outs</h1>
    <h2 style="text-align: center; color: aliceblue;">step 1</h2>
    <p style="text-align: center;  color: aliceblue;"> go to the work out tab</p>
    <h1 style="text-align: center; color: aliceblue;"> step 2</h1>
    <P style="text-align: center; color: aliceblue;">Click delete button</P>
</div>